# Directory Excludes #
obj/

# File Excludes #
*.exe*
*.dll

*.xnb
*.application

*.psd

*.log
*.sql
*.sqlite
*.rar
*.zip
*.7z
*.gz
*.tar
*.dmg
*.jar
*.pdb
*.cache
*.manifest*
*.Debug*
*.application*
